@import '../../common/palette.scss';
@import '../../common/rfs.scss';

$container-max-widths: (
  xl: 1200px
);

@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'bebas-neue';
    src: url('/assets/Webfonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswald';
    src: url('/assets/Webfonts/Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$header-font: 'oswald';
$proxima: 'oswald', sans-serif;

html {
    scroll-behavior: smooth;
}

html, body{
    scrollbar-color: $dark-accent $dark-shade;
    scrollbar-width: thin;
    overflow-x: hidden;
    height:100%;
}

:target{
    padding-top:75px;
    margin-top:-75px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
::-moz-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $dark-shade;
}
::-moz-scrollbar-track {
    background: $dark-shade;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $dark-accent;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $light-accent;
    -webkit-transition: 1s;
    transition: 1s;
}

body{
    margin: 0;
    font-family:  $proxima;
    background-color: $dark-shade;
}

p {
    @include rfs(18px);
}

h1, h2, h3{
    font-family: $header-font;
    text-transform: uppercase;
}

h2{
    @include rfs(46px);
    color: $dark-accent;
}
h3{
    @include rfs(36px);
    color: $deep-purple;
}
h4{
    @include rfs(24px);
    color: $deep-purple;
}

a {
    transition:.2s;
    color:#57207e;
    font-size:1.25rem;
    text-decoration:none;
    &:hover{
        color:#78b7e2;
    }
}

.branded-box{
    background-color: #fff;
    border: solid 5px $deep-purple;
    border-radius: 5%;
}

.branded-circle{
    background-color: #fff;
    border: solid 5px $deep-purple;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*{
    box-sizing: border-box;
}