@import '../../common/palette.scss';
@import '../../common/rfs.scss';
@import '../../common/breakpoints.scss';

.home{
    height:100%;
}
.container{
    display:grid;
    justify-content: center;
    grid-template-areas: "portrait demo"
                         "portrait contact";
    @include breakpoint('md'){
        grid-template-areas: "demo demo"
                             "portrait portrait"
                             "contact contact";
        align-items: center;
    }
    grid-template-columns: 1fr 1fr;
    .home-contact-info{
        grid-area: contact;
        margin: auto 0;
        @include breakpoint('md'){
            width: 100%;
            background-color: white;
            padding-left:.5rem;
        }
    }
    .home-demo{
        margin: auto 0;
        grid-area: demo;
        width: 80%;
        @include breakpoint('md'){
            width:95%;
            justify-self: center;
            margin-bottom: .5rem;
        }
        .demo-header{
            color: $dark-accent;
            margin: 0;
            vertical-align: top;
            @include breakpoint('md'){
                margin: .5rem 0;
                @include rfs(60px);
            }
            text-transform: uppercase;
            font-weight: bolder;
            @include rfs(48px);
            @include breakpoint(md){text-align:center;}
        }
    }
    .home-portrait{
        grid-area: portrait;
        display:flex;
        justify-content: center;
        img{
            @include breakpoint('md'){
                max-height:325px;
                width:auto;
            }
            height:95%;
            border-radius: 12.5px;
            max-height: 450px;
            margin: 2.5% 0;
            width:auto;
        }
    }
    .home-blog-feed{
        grid-area: blog;
        justify-self: center;
        margin: 2.5rem 0;

    }
    .home-about{
        margin-right: 3rem;
        grid-area: about;
        align-self: center;
        position: relative;
        @include breakpoint('md'){margin: auto 1rem;}
        .about-header{
            color: $dark-accent;
            margin: 0;
            text-transform: uppercase;
            font-weight: bolder;
            @include rfs(42px);
            @include breakpoint(md){text-align:center;}
        }
    }
    max-width: 1440px;
    margin: 0px auto;
}

.hero{
    background-color: $light-shade;
    border-bottom: solid 5px $deep-purple;
    margin-bottom: 2rem;
    max-height: 200px;
    @include breakpoint("md"){
        margin-bottom: 0;
        border-bottom: 2px solid $deep-purple;
    }
    #hero-content{
        height: 200px;
        display: grid;
        grid-template-areas: "text";
        column-gap: 75px;
        justify-content: center;
        #hero-text{
            grid-area: text;
            margin-top:auto;
            margin-bottom: auto;
            h1, h2, h3{
                padding:0;
                margin:0;
                line-height: 1
            }
            h1 {
                @include font-size(110px);
                text-transform: uppercase;
                color:$dark-accent;
            }
            h2 {
                @include font-size(85px);
                text-transform: uppercase;
                color: $light-accent;
            }
        
            h3 {
                @include font-size(44px);
                text-transform: uppercase;
                color:$dark-accent;
            }
        }
        @include breakpoint('md'){
            height: auto;
            padding: 1rem 0;
            grid-template-areas: "text";
            justify-items: center;
            text-align: center;
        }
        @include breakpoint('md'){
            h1{@include font-size(84px !important);}
            h2{@include font-size(72px !important);}
            h3{@include font-size(44px);}
        }
        @include breakpoint('sm'){
            h1{@include font-size(90px !important);}
            h2{@include font-size(70px !important);}
            h3{@include font-size(44px);}
        }
    }
}