@import "../../common/palette.scss";

#blogfeed-container {
    h3 {
        color: $dark-accent;
    }
}

.blog-feed {
    height: 515px;
    width: 315px;
    overflow-y: scroll;
    li {
        list-style: none;
    }
    scrollbar-color: $dark-accent $dark-shade;
    scrollbar-width: thin;
}

hr {
    margin-top:1rem;
    margin-bottom:1rem;
    border:0;
    border-top:1px solid rgba(0,0,0,.1)
   }
