@import '../../../common/palette.scss';
@import '../../../common/rfs.scss';
@import '../../../common/breakpoints.scss';

.preview-card {
    padding: .5rem 1rem;
    height: 550px;
    background-color: $light-shade;
    border: 2px solid $deep-purple;
    .preview-image-container{
        margin: 1rem auto;
        overflow: hidden;
    }
    .preview-image{
        width: 100%;
        height: auto;
        max-height: 300px;
    }
    h2{
        margin: 0;
    }
    @include breakpoint('md'){
        height: auto;
    }
}